{% extends "layout.html" %} {% block content %}
<div class="chatApp">
  <div class="chatsContainer"></div>

  <form name="sendNewMessageForm" action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div class="recipientContainer">
      {{ form.recipientID.label }} {{ form.recipientID() }}
    </div>
    <!-- <span
      class="errorMessage recipientEmailError"
      style="text-align: center;"
    ></span> -->
    <div class="sendContainer">{{ form.message() }} {{ form.submit() }}</div>
  </form>

  <form name="sendMessageForm" action="" method="POST" novalidate>
    <div class="recipientContainer">
      <label>To:</label>
      <div id="nameL">II</div>
    </div>
    <div class="messagesContainer"></div>
    <div class="sendContainer">{{ form.message() }} {{ form.submit() }}</div>
  </form>
</div>

<script>
  $(document).ready(() => {
    // to do: seen / not seen (both socket + database)
    // to do: show message + time instead of userID for chatContainer

    const domain = "http://localhost:5000";
    const socket = io(`${domain}`);

    socket.on("connect", (msg) => {
      socket.emit("userConnected");
    });

    socket.on("chatRooms", (chatRooms) => {
      $(".chatsContainer").html("");
      // chatRooms is array of dictionary {chatID, userID}
      for (const chatRoom of chatRooms) {
        const { chatID, userID, firstName } = chatRoom;
        createChat(chatID, userID, firstName);
      }
    });

    const createChat = (chatID, userID, firstName) => {
      const chatContainer = document.createElement("div");

      $(chatContainer)
        .addClass("chatContainer")
        .click(() => {
          changeChat(userID, chatID);
        });

      const changeChat = (userID, chatID) => {
        socket.emit("changeChat", userID, chatID);
        $("form[name='sendNewMessageForm']").css("display", "none");
        $("form[name='sendMessageForm']").css("display", "block");
        $("form[name='sendMessageForm'] > .recipientContainer > div").html(
          firstName
        );
        $(`.chatContainer[data-id="${chatID}"] .notificationDot`).css(
          "visibility",
          "hidden"
        );

        $("form[name='sendMessageForm']")
          .unbind("submit")
          .bind("submit", (event) => {
            event.preventDefault();
            socket.emit("message", {
              datetime: new Date().toISOString(),
              chatID: chatID,
              recipientID: userID,
              message: $("form[name='sendMessageForm'] #message").val(),
            });
            $("input[name='message']").val("");
          });
      };

      const notificationDot = document.createElement("div");
      $(notificationDot).addClass("notificationDot");

      const recipientContainer = document.createElement("div");
      $(recipientContainer).addClass("name").html(firstName);

      const messageText = document.createElement("div");
      $(messageText).addClass("message").html(userID);

      const chatMessageContainer = document.createElement("div");
      $(chatMessageContainer)
        .append(recipientContainer)
        .append(messageText)
        .addClass("chatMessageContainer");

      $(chatContainer)
        .append(notificationDot)
        .append(chatMessageContainer)
        .attr("data-id", chatID);
      $(".chatsContainer").prepend(chatContainer);
    };

    // // if error
    // socket.on("sendMessageError", (errors) => {
    //   for (const className in errors) {
    //     let errorString = "";
    //     for (const error of errors[className]) {
    //       errorString += error;
    //     }
    //     $(`.${className}Error`).html(errorString);
    //   }
    // });

    socket.on("sentMessage", (data) => {
      const { message, datetime } = data;
      displayMessage(datetime, message, "sentMessage");

      $(".messagesContainer").scrollTop(
        $(".messagesContainer").prop("scrollHeight")
      );
    });

    socket.on("receivedMessage", (data) => {
      socket.emit("receivedMessage", data);
    });

    socket.on("displayReceivedMessage", (data) => {
      const { message, datetime } = data;
      displayMessage(datetime, message, "receivedMessage");

      $(".messagesContainer").scrollTop(
        $(".messagesContainer").prop("scrollHeight")
      );
    });

    socket.on("displayNotification", (data) => {
      const { senderID, chatID, firstName } = data;
      $(`.chatContainer[data-id="${chatID}"]`).remove();
      createChat(chatID, senderID, firstName);
      $(`.chatContainer[data-id="${chatID}"] .notificationDot`).css(
        "visibility",
        "visible"
      );
    });

    socket.on("displayAllMessages", (allMessages) => {
      $(".messagesContainer").html("");
      for (const messageInfo of allMessages) {
        const { chatID, datetime, message, messageType } = messageInfo;
        displayMessage(datetime, message, messageType);
      }

      $(".messagesContainer").scrollTop(
        $(".messagesContainer").prop("scrollHeight")
      );
    });

    const displayMessage = (datetime, message, messageType) => {
      let date = moment.utc(datetime, "YYYY-MM-DD HH:mm:ss.SSS");
      date = new Date(date);
      date = `${date.toLocaleDateString()} ${date.toLocaleTimeString([], {
        hour: "2-digit",
        minute: "2-digit",
      })}`;

      const messageContainer = document.createElement("div");
      $(messageContainer).addClass("messageContainer");

      const innerMessageContainer = document.createElement("div");
      $(innerMessageContainer).addClass(messageType);

      const messageDiv = document.createElement("div");
      $(messageDiv).html(message).addClass("message");

      const datetimeDiv = document.createElement("div");
      $(datetimeDiv).html(date).addClass("date");

      $(innerMessageContainer).append(messageDiv).append(datetimeDiv);
      $(messageContainer).append(innerMessageContainer);
      $(".messagesContainer").append(messageContainer);
    };
  });
</script>
{% endblock %}
