{% extends "layout.html" %} {% block content %}
<div class="chatApp">
  <div class="chatsContainer"></div>

  <form name="sendNewMessageForm" action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div class="recipientContainer">
      {{ form.recipientID.label }} {{ form.recipientID() }}
    </div>
    <!-- <span
      class="errorMessage recipientEmailError"
      style="text-align: center;"
    ></span> -->
    <div class="sendContainer">{{ form.message() }} {{ form.submit() }}</div>
  </form>

  <form name="sendMessageForm" action="" method="POST" novalidate>
    <div class="recipientContainer">
      <label>To:</label>
      <div id="userName"></div>
    </div>
    <div class="messagesContainer"></div>
    <div class="sendContainer">{{ form.message() }} {{ form.submit() }}</div>
  </form>
</div>

<script src="../static/socket.js"></script>
{% endblock %}
